<section id="products">
  <h2>{{ title }}</h2>
  <ul>
    <li *ngFor="let product of productList">
      <img [src]="product.image" [alt]="product.name" />
      <h3>{{ product.name }}</h3>
      <span>{{
        product.price.toLocaleString("pt-BR", {
          style: "currency",
          currency: "BRL"
        })
      }}</span>
      <p>{{ product.description }}</p>
      <div>
        <button (click)="handleAddProductToCart(product)">
          Adicionar ao Carrinho
        </button>
        <a [routerLink]="redirectURL(product.id)">Saiba mais</a>
      </div>
    </li>
  </ul>
</section>
