.title {
  font-family: var(--font-primary);
  font-weight: 500;
  color: #55a3ff;

  &.one {
    font-size: clamp(3.2rem, 5vw, 6.5rem);
  }

  &.two {
    font-size: clamp(1.8rem, 5vw, 2rem);
  }

  &.three {
    font-size: clamp(1rem, 5vw, 1.5rem);
    color: var(--color-black);
    font-family: var(--font-secondary);
    font-weight: 700;
  }

  &.four {
    font-family: var(--font-secondary);
    color: var(--color-black);
    font-weight: 700;
    font-size: clamp(15px, 4vw, 18px);
  }

  &.price {
    font-weight: 400;
    font-size: clamp(0.9rem, 5vw, 1.2rem);
  }

  &.price-bg {
    font-size: clamp(18px, 4vw, 21px);
    font-weight: 400;
  }

  &.cta {
    color: #55a3ff;
    font-weight: 700;
    font-family: var(--font-primary);
    font-size: clamp(0.6875rem, 4vw, 0.875rem);
  }

  &.breadcrumb {
    font-weight: 500;
    font-size: clamp(11px, 4vw, 13px);
    color: var(--color-black);
  }
}

.paragraph {
  font-weight: 400;
  font-size: clamp(12px, 4vw, 16px);
  color: var(--color-black);
  font-family: var(--font-secondary);
  line-height: 28px;

  &.footer {
    font-weight: 700;
    color: #55a3ff;
    font-size: clamp(12px, 4vw, 16px);
  }
}

.modal {
  font-size: clamp(0.9375rem, 4vw, 1.125rem);
  font-weight: 700;
  font-family: var(--font-primary);
  color: #55a3ff;
}
