.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    width: 100%;
    max-width: 150px;
  }

  .material-icons {
    font-size: 28px;
  }

  .product_lenth_div {
    background-color: #55a3ff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    position: relative;
    top: -46px;
    left: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-length {
    position: relative;
    top: 1px;
    right: -1px;
    align-self: center;
    color: var(--color-white);
    font-size: clamp(9px, 4vw, 13px);
  }
}
