<section>
  <div *ngIf="product">
    <p class="title cta">
      <a class="title cta" routerLink="/">HOME</a> >
      {{ product.name.toUpperCase() }}
    </p>
    <div>
      <div>
        <img [src]="product.image" [alt]="product.name" />
      </div>
      <div>
        <h3 class="title four">{{ product.name }}</h3>
        <span class="title price-bg">{{
          product.price.toLocaleString("pt-BR", {
            style: "currency",
            currency: "BRL"
          })
        }}</span>
        <p class="paragraph">{{ product.description }}</p>
        <button class="btn-blue" (click)="handleAddProductToCart(product)">
          <span class="material-icons"> add_shopping_cart </span>ADICIONAR AO
          CARRINHO
        </button>
      </div>
    </div>
  </div>
  <p *ngIf="!product">Carregando...</p>
</section>
